@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-black text-white antialiased selection:bg-white selection:text-black;
    font-feature-settings: "ss01", "ss02", "cv01", "cv02", "cv03";
  }

  /* Custom high-end scrollbar */
  ::-webkit-scrollbar {
    width: 4px;
  }
  ::-webkit-scrollbar-track {
    background: #000;
  }
  ::-webkit-scrollbar-thumb {
    background: #222;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #333;
  }
}

@layer utilities {
  .tracking-tighter-premium {
    letter-spacing: -0.05em;
  }
  .border-hairline {
    border-width: 0.5px;
  }
}
